.Shipping {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: rgba(214, 222, 228, 0.2);

  form {
    margin: 0 auto;
    padding: 1rem;
    height: 100%;
    width: 100%;
    // border: 2px solid red;
    ul {
      //   background-color: rgba(214, 222, 228, 0.3);
      padding: 1rem;
      min-height: 33rem;
      margin: 0 auto;
      width: 100%;
      padding-top: 4rem;
      .submitButton {
        margin: 3rem;
      }

      li {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        row-gap: 1rem;
        label {
          width: 15%;
          text-align: left;
          padding: 0.5rem;
          font-size: 1.4rem;
        }
        input {
          width: 60%;
          height: 4rem;
          text-align: left;
          padding: 1.5rem;
          font-size: 1.3rem;
          border: 1px solid rgba(214, 222, 228, 0.2);
          background-color: rgba(214, 222, 228, 1);
        }

        button {
          width: 30%;
          padding: 1rem;
          font-size: 1.3rem;
          border-radius: 1rem;
          border: 1px solid rgba(214, 222, 228, 1);
          text-transform: uppercase;
          background-color: rgba(45, 55, 56, 0.7);
          color: white;
        }
        .button-primary {
          width: 20%;
          background-color: rgba(45, 55, 56, 0.5);
          border: 2px solid rgba(45, 55, 56, 0.7);
        }
      }
    }
  }
}

@media only screen and (max-width: 1195px) {
  .Shipping {
    form {
      ul {
        li {
          label {
            width: 25%;
            text-align: left;
            padding: 0.5rem;
            font-size: 1.2rem;
          }
          input {
            width: 80%;
          }
          button {
            width: 40%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .Shipping {
    form {
      ul {
        padding: 0.3rem;
        li {
          flex-direction: column;
          label {
            width: 100%;
          }
          input {
            font-size: 1rem;
            width: 100%;
          }
          button {
            width: 80%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .Shipping {
    form {
      ul {
        li {
          padding: 0.5rem;

          button {
            width: 95%;
          }
        }
      }
    }
  }
}
